/*
Author : Arfaoui Hamouda
Version : 1.0
 */
/********************* Global ****************************/
body {
    font-family: 'Open Sans', sans-serif;
}
/********************* Global ****************************/
/********************* NavBar ****************************/
.navbar-default {
    border: 0px;
    margin-bottom: 0px;
    position: absolute;
    font-weight: 700;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
/********************* NavBar ****************************/

/********************* Header ****************************/
#header {
    position: relative;
    background-image: url("../img/header-bg.png");
    height: 630px;
    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#header .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 64%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 64%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 64%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
#header .row {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 55%;
    height: 50%;
    color: #FFF;
}
#header .row h1 {
    font-size: 60px;
    font-weight:700;
}
#header .row p {
    font-size:16px;
}
.btn.btn-custome,
.btn.btn-custome.focus,
.btn.btn-custome:focus,
.btn.btn-custome:hover {
    margin-top: 30px;
    padding: 11px 33px;
    border-radius:22px;
    font-weight: 700;
    color: #FFF;
    background-color: #25365d;
}
.btn.btn-custome .fa {
    color: #7f97be;
    margin: 0 5px;
}
/********************* Header ****************************/

/********************* Download ****************************/
#download {
    position: relative;
    margin-bottom: 150px;
}
#download h1 {
    text-align: left;
    color: #25365d;
    font-weight: 700;
}
#download p {
    margin-top: 35px;
    width:50%;
    font-size: 15px;
}
#download li {
    padding-left:15px;
    color: #b1c1d7;
}
#download li:before {
    font-family: 'FontAwesome';
    content: "\f00c";
    margin:0 5px 0 -15px;
    color: #ff81a6;
}
#download img {
    position: absolute;
    top:0;
    right:0;
    height:400px;
}
/********************* Download ****************************/

/********************* Features ****************************/
#features {
    padding: 50px 0;
    min-height:300px;
    background-color: #f7f9fb;
}
#features .feat {
    padding: 50px 0;
}
#features .feat .description {
    width: 80%;
    float:right;
}
#featrues .feat .description h3 ,
#features .feat .fa {
    color: #25365d;
}
#features .feat .description h3 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 0px;
}
#features .feat .description p {
    line-height:1.7;
    font-size:16px;
    color: #676767;
}
/********************* Features ****************************/

/********************* Plans ****************************/
#plans {
    padding: 50px 0;
    position: relative;
    background-color: #f7f9fb;
}
#plans h1 {
    color: #25365d;
    font-weight: 700;
}
#plans p.lead {
    padding: 30px;
    font-weight:400;
}
#plans p {
    font-size: 16px;
}
#plans .plan {
    margin: 30px 0 75px;
    padding: 35px 0;
    background-color: #FFF;
    /* Box Shadow */
    -webkit-box-shadow: 0px 0px 130px -24px rgba(37,54,93,0.36);
    -moz-box-shadow: 0px 0px 130px -24px rgba(37,54,93,0.36);
    box-shadow: 0px 0px 130px -24px rgba(37,54,93,0.36);
}
#plans .plan p ,
#plans .plan h4 {
    color: #5a5a5a;
    font-size: 18px;
}
#plans .plan .price {
    color: #25365d;
}
#plans .plan .price span {
    font-weight: 700;
    font-size: 72px;
}
#plans .plan .price i {
    font-size: 40px;
    font-style: normal;
}
#plans .contact {
    width:55%;
    margin: 0 auto;
    color: #25365d;
}
#plans .contact ul {
    font-weight: 700;
    font-size: 22px;
}
/********************* Plans ****************************/

/********************* Free ****************************/
#free {
    padding: 75px 0 0;
    min-height:300px;
}
#free h1 {
    color: #25365d;
    font-weight: 700;
}
#free p {
    font-size: 16px;
    padding-top: 30px;
    color: #25365d;
}
/********************* Free ****************************/

/********************* Footer ****************************/
#footer {
    height: 350px;
    background-image: url('../img/footer-bg.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
/********************* Footer ****************************/