/*
Author : Arfaoui Hamouda
Version : 1.0
 */
/********************* Global ****************************/
body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

#loader {
    position: fixed;
    z-index: 9999;
    height:100%;
    width:100%;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(37,54,93,1);
}
/********************* Global ****************************/
/********************* NavBar ****************************/
.navbar-default {
    margin-top: 20px;
    border: 0px;
    margin-bottom: 0px;
    position: absolute;
    font-weight: 700;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
.navbar-default .dropdown-menu {
    min-width: 205px;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.dropdown-menu {
    background: transparent;
    color: #FFF;
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    box-shadow: none;
    border: none;
}
.navbar-default .form-control {
    -webkit-border-radius: 0px ;
    -moz-border-radius: 0px ;
    border-radius: 0px ;
    border: none;
    border: solid #FFF 2px ;
    color: #FFF;
    font-weight:300;
    background-color: transparent;
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    box-shadow: none ;
}
.navbar-default .form-control::-webkit-input-placeholder {
    color: #FFF;
}
/********************* NavBar ****************************/

/********************* Header ****************************/
#header {
    position: relative;
    background-image: url("../img/header-bg.png");
    height: 630px;
    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#header .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 64%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 64%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 64%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
#header .row {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    color: #FFF;
}
#header .row h1 {
    font-size: 60px;
    font-weight:700;
}
#header .row p {
    font-size:16px;
}
.btn.btn-custome,
.btn.btn-custome.focus,
.btn.btn-custome:focus,
.btn.btn-custome:hover {
    margin-top: 30px;
    padding: 11px 33px;
    border-radius:22px;
    font-weight: 700;
    color: #FFF;
    background-color: #25365d;
}
.btn.btn-custome .fa {
    color: #7f97be;
    margin: 0 5px;
}
.btn.btn-custome:hover .fa {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
/********************* Header ****************************/

/********************* Download ****************************/
#download {
    position: relative;
    margin-bottom: 150px;
}
#download h1 {
    text-align: left;
    color: #25365d;
    font-weight: 700;
}
#download p {
    margin-top: 35px;
    font-size: 15px;
}
#download li {
    padding-left:15px;
    color: #b1c1d7;
}
#download li:before {
    font-family: 'FontAwesome';
    content: "\f00c";
    margin:0 5px 0 -15px;
    color: #ff81a6;
}
#download img {
    position: absolute;
    top:0;
    right:0;
    height:400px;
}
/********************* Download ****************************/

/********************* Features ****************************/
#features {
    padding: 50px 0;
    min-height:300px;
    background-color: #f7f9fb;
}
#features .feat {
    padding: 50px 0;
}
#features .feat .fa {
    text-align: center;
    width:20%;
}
#features .feat .description {
    width: 80%;
    float:right;
}
#featrues .feat .description h3 ,
#features .feat .fa {
    color: #25365d;
}
#features .feat .description h3 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 0px;
}
#features .feat .description p {
    line-height:1.7;
    font-size:16px;
    color: #676767;
}
/********************* Features ****************************/

/********************* Projects ****************************/
#projects {
    min-height: 500px;
    padding: 50px 0 100px;
}
#projects h1 {
    color: #25365d;
    font-weight: 700;
}
#projects .menu {
    margin: 50px 0 30px 0;
}
#projects .menu li {
    cursor: pointer;
    color: rgba(37,54,93,.8);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(37,54,93,.8);
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
}
#projects .menu .selected {
    color: #FFF;
    background-color: rgba(37,54,93,.8);
    border-color: rgba(37,54,93,0);
}
#projects .col-md-4 {
    padding:0;
}
#projects .item {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: 250px;
}
#projects .item:hover .overlay ,
#projects .item:hover .like {
    display: block;
}
#projects .item img {
    height: 250px;
    width: 100%;
}
#projects .item .overlay {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(37,54,93,.8);
    padding-top: 105px;
    text-align: center;
    color: #FFF;
    display: none;
}
#projects .item .like {
    position: absolute;
    bottom:5%;
    right:5%;
    font-weight:700;
    color: #FFF;
    display: none;
}
/********************* Projects ****************************/

/********************* Plans ****************************/
#plans {
    padding: 50px 0 80px;
    position: relative;
    background-color: #f7f9fb;
}
#plans h1 {
    color: #25365d;
    font-weight: 700;
}
#plans p.lead {
    padding: 30px;
    font-weight:400;
}
#plans p {
    font-size: 16px;
}
#plans .plan {
    margin: 15px 0 15px;
    padding: 35px 0;
    background-color: #FFF;
    /* Box Shadow */
    -webkit-box-shadow: 0px 0px 130px -24px rgba(37,54,93,0.36);
    -moz-box-shadow: 0px 0px 130px -24px rgba(37,54,93,0.36);
    box-shadow: 0px 0px 130px -24px rgba(37,54,93,0.36);
}
#plans .plan p ,
#plans .plan h4 {
    color: #5a5a5a;
    font-size: 18px;
}
#plans .plan .price {
    color: #25365d;
}
#plans .plan .price span {
    font-weight: 700;
    font-size: 72px;
}
#plans .plan .price i {
    font-size: 40px;
    font-style: normal;
}
#plans .contact {
    margin: 75px auto;
    color: #25365d;
}
#plans .contact ul {
    font-weight: 700;
    font-size: 22px;
}
#plans .contact li {
    margin: 10px 0 0 ;
}
/********************* Plans ****************************/

/********************* Testimonials ****************************/
#testimonials {
    background: url("../img/testimonials.jpg") no-repeat center center fixed;
    overflow: hidden;
}
#testimonials .overlay {
    background-color: rgba(37,54,93,.7);
    padding: 70px 0;
}
#testimonials h1 {
    margin-top: 0px;
    margin-bottom: 50px;
    color: #FFF;
    font-weight: 700;
}
#testimonials #carousel_testimonials p {
    font-size: 16px;
    color: #FFF;
}
#testimonials span {
    font-size: 18px;
    color: #FFF;
    font-weight:700;
}
#testimonials .carousel-indicators {
    position:static;
    bottom: 0;
    width:100%;
    margin-left:auto;
    padding-top:20px
}
#testimonials .carousel-indicators li {
    text-indent:0;
    width:80px;
    height:80px;
    opacity:0.7;
    border: 3px solid #FFF;
    border-radius:50%;
    overflow:hidden;
    margin:5px
}
#testimonials .carousel-indicators li.active {
    width:80px;
    height:80px;
    opacity:1;
    background:none;
    border: 3px solid #FFF;
}
#testimonials .carousel-indicators li img {max-width:100%}
/********************* Testimonials ****************************/

/********************* Free ****************************/
#free {
    padding: 75px 0 0;
    min-height:300px;
}
#free h1 {
    color: #25365d;
    font-weight: 700;
}
#free p {
    font-size: 16px;
    padding-top: 30px;
    color: #25365d;
}
/********************* Free ****************************/

/********************* Footer ****************************/
#footer {
    height: 350px;
    background-image: url('../img/footer-bg.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
/********************* Footer ****************************/

/********************* Hover.CSS ****************************/
.hvr-underline-from-left:before {
    background: #FFF;
}
/********************* Hover.CSS ****************************/

/********************* ScrollToTop ****************************/
#scroll {
    right:10px;
    bottom:10px;
    position: fixed;
    display: none;
}
#scroll a {
    color: rgba(37,54,93,.3);
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
#scroll:hover a{
    cursor: pointer;
    color: rgba(37,54,93,1);
}
/********************* ScrollToTop ****************************/

/********************* Media Queries ****************************/
/********** SM and UP *********/
@media (min-width: 768px) {
    #plans .contact {
        width:55%;
    }
    #plans .contact li {
        margin: 0 ;
    }
    #projects .menu {
        margin: 50px 0 30px -15px;
    }
}
/********** MD and UP *********/
@media (min-width: 992px) {
    #header .row {
        width: 55%;
    }
    #download p {
        width:50%;
    }
}
/************ MD and Less ***********/
@media (max-width: 992px) {
    .navbar-default {
        margin-top: 0px;
        padding: 15px 0;
    }
    .navbar-default li {
        margin: 0 10px;
    }
    .navbar-default .form-control {
        padding-left: 30px;
    }
    .input-group-addon {
        padding-left: 0px;
        color: #FFF;
        background: transparent;
        border:none;
        -webkit-border-radius:0px;
        -moz-border-radius:0px;
        border-radius:0px;
    }
    .input-group-addon .fa {
        margin-right: -55px;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none;
        -webkit-box-shadow: none ;
        -moz-box-shadow: none ;
        box-shadow: none ;
    }
    .navbar-default {
        background-color: rgba(37,54,93,.8);
    }
}
/************* NavBar ***************/
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
/********************* Media Queries ****************************/

/********************* Screen Loader ****************************/
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 300px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #FFF;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}
/********************* Screen Loader ****************************/
